<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('../views/partials/header') %>
  <body>
    <h1>Welcome to Mongoose Flights</h1>




  </body>
</html>
